<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evolve Box</title>
    <link rel="stylesheet" href="../../public/styles/main.css">
    <link rel="stylesheet" href="../../public/styles/partials/page-landing.css">
    <link rel="stylesheet" href="../../public/styles/partials/header.css">
    <link rel="stylesheet" href="../../public/styles/partials/forms.css">
    <link rel="stylesheet" href="../../public/styles/partials/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Gugi&family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
    
</head>
<body id="page-landing">
    <div id="container">
        <header>
            <div class="header-content">
                <div class="logo-content">
                    <img src="../images/logo.png" alt="Evolve Box">
                </div>
                <nav>
                    <ul>
                        <li><a href="#">Quem somos</a></li>
                        <li><a href="#">Entrar</a></li>
                        <li><a href="#">Registre-se</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    <main>
        <div id="landing-content">
            <div id="introduction">
                <p>Foco no seu desenvolvimento pessoal,</p>
                <h1>Seu pensamento fora da caixa!</h1>
                <p>Praticidade em suas metas</p>
            </div>
             <div id="description"> 
                <p>O que oferecemos?</p>
                <h1>Ferramentas inteligentes e metodologias que auxiliam em seu desenvolvimento</h1>
                <p>As melhores ferramentas que lhe proporcionam uma evolução contínua</p>
            </div>
            <div id="improving-everyday">
                <h1>Um pouquinho a cada dia!</h1>
                <p>Pequenas tarefas que te ajudam a ser melhor que ontem</p>
                <p>Evolução diaria em sua jornada</p>
            </div>
            <div id="community">
                <h1>Um por todos, e todos por um!</h1>
                <p>Participe da comunidade que tem o mesmo objetivo que o seu</p>
                <button>Evolua junto conosco</button>
            </div>
        </div>
    </main>
    <footer>
        <div id="footer-content">
              <span class="footer-item"><a href="">© Copyright 2020. Evolve Box </a></span>
              <span class="footer-item"><a href="">Termos de Uso</a></span>
              <span class="footer-item"><a href="">Política de Privacidade</a></span>
              <span class="footer-item"><a href="">Perguntas Frequentes</a></span>
          </div>
    </footer>
    </div>
</body>
</html>