<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evolve Box</title>
    <link rel="stylesheet" href="../../public/styles/main.css">
    <link rel="stylesheet" href="../../public/styles/partials/page-signup.css">
    <link rel="stylesheet" href="../../public/styles/partials/header.css">
    <link rel="stylesheet" href="../../public/styles/partials/forms.css">
    <link rel="stylesheet" href="../../public/styles/partials/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Gugi&family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>
<body id="page-signup">
    <div id="container">
        <header>
            <div class="header-content">
                <div class="logo-content">
                    <img src="../images/logo.png" alt="Evolve Box">
                </div>
                <nav>
                    <ul>
                        <li><a href="#">Quem somos</a></li>
                        <li><a href="#">Entrar</a></li>
                        <li><a href="#">Registre-se</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <form action="">
                <fieldset>
                    <legend>Cadastro</legend>
                    <div class="input-block">
                        <label for="first-name">Nome</label>
                        <input name="first-name" type="text" id="first-name" placeholder="Seu primeiro nome" autocomplete="off" value="" required>
                    </div>
                    <div class="input-block">
                        <label for="last-name">Sobrenome</label>
                        <input name="last-name" type="text" id="last-name" placeholder="Seu último nome" autocomplete="off" value="" required>
                    </div>
                    <div class="input-block">
                        <label for="password">Senha</label>
                        <input name="password" type="password" id="password" placeholder="Insira sua senha" autocomplete="off" value="" required>
                    </div>
                    <div class="input-block">
                        <label for="confirm-password">Confirmar Senha</label>
                        <input name="confirm-password" type="password" id="confirm-password" placeholder="Confirmar sua senha" autocomplete="off" value="" required>
                    </div>
                    <div class="input-block">
                        <label for="confirm-password">E-Mail</label>
                        <input name="mail" type="text" id="mail" placeholder="Seu E-Mail" autocomplete="off" value="" required>
                    </div>
                    <div class="input-block">
                        <label for="date-of-birthday">Data de Nascimento</label>
                        <input name="date-of-birthday" type="date" id="date-of-birthday" placeholder="Data de Nascimento" autocomplete="off" value="" required>
                    </div>
                    <div class="input-block">
                        <label for="genre">Gênero</label>
                        <input name="genre" type="text" id="genre" placeholder="Gênero" autocomplete="off" value="" required>
                    </div>
                    <div class="input-block">
                        <label for="phone">Telefone</label>
                        <input name="phone" type="tel" id="phone" placeholder="Número de Telefone" autocomplete="off" value="" required>
                    </div>
                    <button type="submit" class="cadastrar">Cadastrar</button>
                </fieldset>
            </form>
        </main>
        <footer>
            <div id="footer-content">
                <span class="footer-item"><a href="">© Copyright 2020. Evolve Box </a></span>
                <span class="footer-item"><a href="">Termos de Uso</a></span>
                <span class="footer-item"><a href="">Política de Privacidade</a></span>
                <span class="footer-item"><a href="">Perguntas Frequentes</a></span>
            </div>
        </footer>
    </div>
</body>
</html>