<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evolve Box</title>
    <link rel="stylesheet" href="../../public/styles/main.css">
    <link rel="stylesheet" href="../../public/styles/partials/page-dashboard.css">
    <link rel="stylesheet" href="../../public/styles/partials/header.css">
    <link rel="stylesheet" href="../../public/styles/partials/forms.css">
    <link rel="stylesheet" href="../../public/styles/partials/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Gugi&family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>
<body id="page-dashboard">
    <div id="container">
        <header>
            <div class="header-content">
                <div class="logo-content">
                    <img src="../images/logo.png" alt="Evolve Box">
                </div>
                <nav>
                    <ul>
                        <li><a href="#">Quem somos</a></li>
                        <li><a href="#">Entrar</a></li>
                        <li><a href="#">Registre-se</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <div id="dashboard">
                <div id="dashboard-bg">
                    DASHBOARD BACKGROUND
                </div>
                <div id="goals-in-progress">
                    <fieldset>
                        <legend>Metas em progresso</legend>
                    </fieldset>
                </div>
                <div id="goals-finished">
                    <fieldset>
                        Metas Finalizadas
                    </fieldset>
                </div>
                <div id="achievements">
                    <fieldset>
                        <legend>Conquistas</legend>
                    </fieldset>
                </div>
                <div id="planning">
                    <fieldset>
                        <legend>Planejamento</legend>
                    </fieldset>
                </div>
            </div>
        </main>
        <footer>
            <div id="footer-content">
                <span class="footer-item"><a href="">© Copyright 2020. Evolve Box </a></span>
                <span class="footer-item"><a href="">Termos de Uso</a></span>
                <span class="footer-item"><a href="">Política de Privacidade</a></span>
                <span class="footer-item"><a href="">Perguntas Frequentes</a></span>
            </div>
        </footer>
    </div>
</body>
</html>