:root{
    --color-background: #1DB5C4;
    --color-primary-lighter: #b7dbeb;
    --color-primary-light: #6bb7ea;
    --color-primary: #57b1e5;
    --color-prymary-dark: #4db6d6;
    --color-prymary-darker: #428fc2;
    --color-secondary: #d33f04;
    --color-secondary-dark: #993101;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #c2e9ff;
    --color-text-title: #26474d;
    --color-text-complement: #98a2a6;
    --color-text-base: #617680;
    --color-line-in-white: #e6ebf0;
    --color-input-background: #f8fafc;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #fafbfc;
    --color-small-info: #c1dcdb;

    /* tamanho da fonte padrão: 16px / 100% / 1 rem */
    font-size: 60%; /* controle das medidas REM */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100vh;
}

body{
    background-color: var(--color-background);
}

body,
input,
button,
textarea{
    /* font:500 1.6rem Poppins; */
    font-weight: 500;
    font-size: 1.6rem;
    font-family: Poppins;
    color: var(--color-text-base);
}

#container{
    width: 90vw;
    max-width: 1100px;
}

@media(min-width:1100px){
    :root{
        font-size: 62.5%;
    }
}