#page-landing header{
    background: var(--color-title-in-primary);
    width: 100vw;
}

header .header-content {
    width: 80%;
    height: 10rem;
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    position: relative;
}

header .header-content nav{    
    position: absolute;
    text-align: right;
    right: 0;
    top: 3.2rem;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline-block;
}

header nav ul li a{
    transition: 0.2s;
    text-decoration: none;
    color: var(--color-text-title);
    margin-right: 3.2rem;
}

header nav ul li a:hover{
    text-decoration: underline;
    color: var(--color-line-in-white);
}
