#page-landing header{
    background: var(--color-primary-lighter);
    width: 100vw;
}

header .header-content {
    width: 80%;
    max-width: 940px;
    margin: 0 auto;
    position: relative;
    height: 50px;
}

header .header-content nav{    
    position: absolute;
    top: 0;
    text-align: right;
    right: 0;
    margin-top:15px;    
}

header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline-block;
    margin-left: 10px;
}

header nav ul li a{
    vertical-align: center;
    transition: 0.2s;
    text-decoration: none;
    color: var(--color-text-base);
}

header nav ul li a:hover{
    text-decoration: underline;
    color: var(--color-line-in-white);
}
