#page-dashboard #container{
    width: 100vw;
    height: 100%;
}

#page-dashboard #container #dashboard{
    margin: 0;
    display: grid;
    grid-gap: 0.8rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr 3fr;
    grid-template-areas: "dashboard-bg"
                         "goals-in-progress"
                         "goals-finished"
                         "achievements"
                         "planning";


}

 #dashboard-bg{
    grid-area: dashboard-bg;
    background: var(--color-box-base);
}
 #goals-in-progress{
    grid-area: goals-in-progress;
    background: var(--color-box-base);
}
 #achievements{
    grid-area: achievements;
    background: var(--color-box-base);
}
 #goals-finished{
    grid-area: goals-finished;
    background: var(--color-box-base);
}
 #planning{
    grid-area: planning;
    background: var(--color-box-base);
}

.goal-pb {
    background-color: var(--color-secondary-dark);
    border-radius: 13px;
    padding: 3px;
    margin: 1.2rem;
  }
  
.goal-pb .progress {
    background-color: var(--color-secondary);
    width: 50%;
    height: 1.2rem;
    border-radius: 10px;
  }

@media(min-width:1100px){
    #page-dashboard #container{
        width: 100vw;
        height: 100%;
    }

    #page-dashboard #container #dashboard{
        margin: 0;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 4fr 4fr 1fr;;
        grid-template-areas: "dashboard-bg dashboard-bg"
                            "goals-in-progress goals-finished"
                            "goals-in-progress achievements"
                            "planning planning";
    }

    #page-dashboard #container main{
        max-width: 940px;
        width: 80vw;
        margin: 0.8rem auto;
    }
    #dashboard-bg{
        grid-area: dashboard-bg;
        background: var(--color-box-base);
        padding: 2rem;
        border-radius: 5px;
    }
     #goals-in-progress{
        grid-area: goals-in-progress;
        background: var(--color-box-base);
        padding: 2rem;
        border-radius: 5px;
    }
     #achievements{
        grid-area: achievements;
        background: var(--color-box-base);
        padding: 2rem;
        border-radius: 5px;
    }
     #goals-finished{
        grid-area: goals-finished;
        background: var(--color-box-base);
        padding: 2rem;
        border-radius: 5px;
    }
     #planning{
        grid-area: planning;
        background: var(--color-box-base);
        padding: 2rem;
        border-radius: 5px;
    }

    .goal-pb {
        background-color: var(--color-secondary-dark);
        border-radius: 13px;
        padding: 3px;
        margin: 1.2rem;
      }
      
    .goal-pb .progress {
        background-color: var(--color-secondary);
        width: 50%;
        height: 1.2rem;
        border-radius: 10px;
      }
}   

